/* index.html */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1vw
}

.indexBody #nav {
    display: flex;
    justify-content: space-around;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    background: #f8f8f8;
    padding: 1vw 0
}

.indexBody #nav img {
    margin-left: 10vw;
    height: 5vw
}

.indexBody #nav ul {
    margin-left: 15vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    width: 45vw;
    align-items: center;
    list-style-type: none
}

.indexBody #nav a {
    color: #646464;
    text-decoration: none
}

.indexBody #nav span {
    display: inline-block
}

.indexBody #nav ul li {
    font-family: "Times New Roman";
    font-weight: 520;
    font-size: 1.5vw;
    cursor: pointer;
    height: 3vw;
    text-align: center;
    margin-right: .5vw
}

.indexBody #nav ul p {
    display: inline-block;
    padding-left: 2vw;
    height: 0.7vw;
    text-align: center;
    border-right: #646464 solid .15vw
}

.indexBody #nav ul a:last-child p {
    border: none
}

.indexBody #main {
    z-index: 1;
    position: fixed;
    top: 5vw
}

.indexBody #main1 img {
    width: 50vw;
    height: 30vw;
    position: absolute;
    margin-left: 25vw
}

.indexBody #img1,
.indexBody #img2,
.indexBody #img3,
.indexBody #img4,
.indexBody #img5,
.indexBody #img6 {
    position: fixed;
    z-index: 2
}

.indexBody #img1 {
    width: 25.9vw;
    height: 30.2vw;
    top: 5vw
}

.indexBody #img1 img {
    width: 100%;
    height: 100%
}

.indexBody #img2 {
    overflow: hidden;
    width: 26vw;
    height: 30vw;
    left: 73.1vw;
    top: 5vw
}

.indexBody #img2 img {
    width: 135%;
    height: 100%
}

.indexBody #img3 {
    overflow: hidden;
    width: 16.5vw;
    height: 19.1vw;
    top: 35.73vw
}

.indexBody #img3 img {
    width: 150%;
    height: 100%
}

.indexBody #img4 {
    top: 35.7vw;
    width: 37.2vw;
    left: 54.6vw;
    height: 19.15vw
}

.indexBody #img4 img {
    width: 100%;
    height: 100%
}

.indexBody #img5 {
    top: 35.7vw;
    width: 37.2vw;
    left: 17vw;
    height: 19.15vw
}

.indexBody #img5 img {
    width: 100%;
    height: 100%
}

.indexBody #img6 {
    top: 35.7vw;
    width: 37.2vw;
    left: 92.2vw;
    height: 19.15vw
}

.indexBody #img6 img {
    width: 100%;
    height: 100%
}

.indexBody #article {
    position: absolute;
    width: 100vw;
    top: 5vw;
    z-index: 10
}

.indexBody #article-main {
    padding-top: 13vw;
    height: 37vw;
    position: relative;
    text-align: center;
    color: white;
    background: rgba(12, 12, 12, 0.3)
}

.indexBody #article-main div {
    cursor: default;
    letter-spacing: .5vw;
    font-weight: 700;
    font-size: 2vw;
    font-family: "Lucida Sans Unicode";
    animation-name: North;
    animation-delay: 0.5s;
    animation-duration: 5s;
    animation-iteration-count: infinite
}

@keyframes North {
    0% {
        transform: scale(1);
        color: white
    }
    50% {
        transform: scale(1.2);
        color: orange
    }
    100% {
        transform: scale(1);
        color: white
    }
}

.indexBody #article-main1 {
    cursor: default;
    background: whitesmoke;
    padding-bottom: 3vw
}

.indexBody #article-main1 div {
    padding: 3vw 0;
    font-weight: 700;
    font-size: 3vw;
    font-family: "Trebuchet MS";
    text-align: center
}

.indexBody #article-main1 p {
    padding: 1vw 0;
    width: 77vw;
    color: #484848;
    text-align: center;
    font-size: 1.3vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto
}

.indexBody #img img {
    width: 100%;
    height: 100%
}

.indexBody #footer {
    margin-top: -0.5vw;
    padding: 5vw 0;
    background: #353535;
    display: flex;
    font-size: 1vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #d5d5d5;
    justify-content: space-around
}

.indexBody #footer ul li {
    margin-left: 2vw;
    padding: .5vw 0;
    list-style-type: none
}

.indexBody #footer a {
    color: lightgray;
    text-decoration: none
}

.indexBody #footer ul li:hover {
    color: white;
    cursor: default
}

.indexBody #footer ul li a:hover {
    color: white;
    cursor: pointer
}

.indexBody #footer1 img {
    margin-left: 2vw;
    width: 12vw
}

.indexBody #footer4 p {
    font-size: 1.5vw;
    margin-bottom: 3vw
}

.indexBody #text {
    float: left;
    vertical-align: top;
    border-radius: .2vw;
    outline: none;
    height: 2.9vw;
    width: 15vw;
    border: 1px lightgray solid
}

.indexBody #button {
    border-radius: .2vw;
    border: none;
    width: 5vw;
    float: left;
    height: 3vw
}

.indexBody #footer4 a {
    padding: .5vw 2vw
}


/* mountain.html */

.mountain #nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1vw;
    background: #ffaf18;
    z-index: 999
}

.mountain #nav p {
    margin-left: 15vw
}

.mountain #img img {
    width: 100%
}

.mountain #nav1 {
    z-index: 999;
    padding: 0.5vw;
    position: fixed;
    width: 100%;
    top: 3.2vw;
    color: white;
    font-size: 2.8vw;
    font-family: Tahoma, Geneva, sans-serif
}

.mountain #nav1 a {
    color: white;
    text-decoration: none
}

.mountain #nav1 a p {
    font-size: 1.2vw
}

.mountain #nav1 ul,
.mountain #nav1 ul li {
    font-size: 2vw;
    display: inline-block
}

.mountain #nav1 ul img {
    width: 100px;
    vertical-align: center
}

.mountain #nav1 ul li a:hover {
    color: #0074ad;
    cursor: pointer
}

.mountain #nav1 ul:nth-child(1) {
    border-left: white solid 0.1vw;
    margin-left: 17vw
}

.mountain #nav1 ul:nth-child(1) li {
    margin-left: 2vw
}

.mountain #nav1 ul:nth-child(2) li {
    padding: 0 1.5vw;
    border-right: white solid 0.1vw
}

.mountain #nav1 ul:nth-child(2) {
    float: right;
    margin-right: 10vw
}

.mountain #main {
    position: absolute;
    transform: skewY(2deg);
    top: 27vw;
    width: 100%;
    height: 15vw;
    background: #006cd1
}

.mountain #main div {
    margin-top: 5vw;
    margin-left: 15vw;
    color: white;
    font-size: 3vw;
    transform: skewY(-2deg)
}

.mountain #main11 {
    position: relative;
    top: -16vw;
    height: 100vh
}

.mountain #main1 {
    background: white;
    position: absolute;
    top: 40vw;
    z-index: 2;
    width: 100%
}

.mountain #main12 {
    width: 60vw;
    margin-top: 5vw;
    margin-left: 30vw;
    border-radius: 1vw;
    min-height: 28vw;
    transform: skewY(-3deg);
    background: whitesmoke
}

.mountain #main13 {
    padding-top: 6vw;
    margin-left: 25vw;
    transform: skewY(3deg)
}

.mountain #main13 p:nth-child(1) {
    color: #006da3
}

.mountain #main13 p:nth-child(2) {
    color: #006da3;
    font-size: 1.5vw
}

.mountain #main13 span {
    font-weight: 600;
    line-height: 2
}

.mountain #main-img1 {
    position: relative;
    display: inline-block;
    z-index: 99;
    top: 31vw;
    left: 20vw;
    width: 32vw
}

.mountain #main-img1 img {
    width: 100%
}

.mountain #main21 {
    background: #10325a;
    position: relative;
    top: -35vw;
    width: 75vw;
    margin-left: 12vw;
    border-radius: 1vw;
    transform: skewY(-3deg)
}

.mountain #main22 {
    padding-top: 6vw;
    margin-left: 3vw;
    transform: skewY(3deg);
    color: white
}

.mountain #main21 p:hover,
.mountain #main21 li:hover {
    color: #0074cc;
    cursor: default
}

.mountain #main21 p:nth-child(1) {
    font-size: 1.3vw
}

.mountain #main21 p:nth-child(2) {
    font-size: 2vw
}

.mountain #main22 ul li {
    line-height: 2
}

.mountain #main-img2 {
    transform: skewY(-2deg);
    position: relative;
    display: inline-block;
    z-index: 99;
    top: 10vw;
    left: 50vw;
    width: 32vw;
    height: 49vw
}

.mountain #main-img2 img {
    opacity: 0.95;
    width: 100%;
    height: 85%
}

.mountain #main-img2 img:hover {
    transform: scale(1.01);
    transition: 0.5s;
    cursor: default
}

.mountain #main31 {
    position: relative;
    top: -53vw;
    width: 65vw;
    margin-left: 25vw;
    border-radius: 1vw;
    padding: 10px 0;
    transform: skewY(-3deg);
    background: whitesmoke
}

.mountain #main32 {
    padding-top: 6vw;
    margin-left: 35vw;
    line-height: 2;
    transform: skewY(3deg);
    padding-right: 20px;
    cursor: default;
}

.mountain #main32 p:nth-child(1) {
    color: #006da3;
    font-size: 2.5vw
}

.mountain #main32 span {
    font-weight: 600;
    line-height: 2
}

.mountain #main32 a {
    font-family: Tahoma, Geneva, sans-serif;
    color: #555;
    cursor: default;
}

.mountain #main-img3 {
    position: relative;
    display: inline-block;
    z-index: 99;
    top: -19vw;
    left: 10vw;
    width: 43vw
}

.mountain #main-img3 img {
    width: 100%
}

.mountain #footer {
    margin-top: -0.5vw;
    padding: 5vw 0;
    background: #353535;
    display: flex;
    font-size: 1vw;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #d5d5d5;
    justify-content: space-around;
    z-index: 1000;
    width: 100%;
    top: 212vw;
    position: absolute
}

.mountain #footer ul li {
    margin-left: 2vw;
    padding: 0.5vw 0;
    list-style-type: none
}

.mountain #footer a {
    color: lightgray;
    text-decoration: none
}

.mountain #footer ul li:hover {
    color: white;
    cursor: default
}

.mountain #footer ul li a:hover {
    color: white;
    cursor: pointer
}

.mountain #footer1 img {
    margin-left: 2vw;
    width: 12vw
}

.mountain #footer4 p {
    font-size: 1.5vw;
    margin-bottom: 3vw
}

.mountain #text {
    float: left;
    vertical-align: top;
    border-radius: 0.2vw;
    outline: none;
    height: 2.9vw;
    width: 15vw;
    border: 1px lightgray solid
}

.mountain #button {
    border-radius: 0.2vw;
    border: none;
    width: 5vw;
    float: left;
    height: 3vw
}

.mountain #footer4 a {
    padding: 0.5vw 2vw
}

@media (max-width:668px) {
    .mountain #footer {
        top: 175%
    }
}


/* lodging.html */

.lodging a:focus,
a:hover,
a {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.lodging .clear {
    clear: both
}

.lodging #nav {
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1vw;
    background: #9c242d;
    z-index: 999;
}

.lodging #nav p {
    margin-left: 15vw
}

.lodging #img img {
    width: 100%
}

.lodging #nav1 {
    z-index: 999;
    padding: 0.5vw;
    position: fixed;
    width: 100%;
    top: 3vw;
    color: white;
    font-size: 2.8vw;
    font-family: Tahoma, Geneva, sans-serif;
    background: #bf2c37
}

.lodging #nav1 ul img {
    width: 100px;
    vertical-align: center
}

.lodging #nav1 a {
    color: white;
    text-decoration: none
}

.lodging #nav1 a p {
    font-size: 1.2vw
}

.lodging #nav1 ul,
#nav1 ul li {
    font-size: 2vw;
    display: inline-block
}

.lodging #nav1 ul li a:hover {
    color: #0074ad;
    cursor: pointer
}

.lodging #nav1 ul:nth-child(1) {
    border-left: white solid 0.1vw;
    margin-left: 17vw
}

.lodging #nav1 ul:nth-child(1) li {
    margin-left: 2vw
}

.lodging #nav1 ul:nth-child(2) li {
    padding: 0 1.5vw;
    border-right: white solid 0.1vw
}

.lodging #nav1 ul:nth-child(2) {
    float: right;
    margin-right: 10vw
}

.lodging #main {
    padding: 2vw 5vw;
    position: absolute;
    transform: skewY(-2deg);
    top: 18vw;
    left: 58vw;
    z-index: 5;
    width: 30vw;
    background: whitesmoke
}

.lodging #main div {
    transform: skewY(2deg)
}

.lodging #main div:nth-child(1) {
    color: #bf2c37;
    font-size: 2vw;
    font-weight: 1000
}

.lodging #main div:nth-child(2) {
    color: gray;
    margin-top: 2vw;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3em;
}

.lodging #main div:nth-child(3),
.lodging #main32 div:last-child {
    text-align: center;
    margin: 1vw auto;
    background: #595959;
    color: white;
    font-weight: 600;
    width: 20vw;
    padding: 1vw 0;
    border-radius: 8px;
}

.lodging #main div:nth-child(3):hover,
.lodging #main32 div:last-child:hover {
    background: #b8b8b8;
    cursor: default
}

.lodging #main1 {
    position: absolute;
    transform: skewY(2deg);
    top: 33vw;
    width: 100%;
    height: 30vw;
    background: white
}

.lodging #footer {
    position: relative;
    width: 100%;
    padding: 5vw 0;
    background: #353535;
    display: flex;
    font-size: 1vw;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #d5d5d5;
    justify-content: space-around
}

.lodging #footer ul li {
    margin-left: 2vw;
    padding: 0.5vw 0;
    list-style-type: none
}

.lodging #footer a {
    color: lightgray;
    text-decoration: none
}

.lodging #footer ul li:hover {
    color: white;
    cursor: default
}

.lodging #footer ul li a:hover {
    color: white;
    cursor: pointer
}

.lodging #footer1 img {
    margin-left: 2vw;
    width: 12vw
}

.lodging #footer4 p {
    font-size: 1.5vw;
    margin-bottom: 3vw
}

.lodging #text {
    float: left;
    vertical-align: top;
    border-radius: 0.2vw;
    outline: none;
    height: 2.9vw;
    width: 15vw;
    border: 1px lightgray solid
}

.lodging #button {
    border-radius: 0.2vw;
    border: none;
    width: 5vw;
    float: left;
    height: 3vw
}

.lodging #footer4 a {
    padding: 0.5vw 2vw
}

.lodging #main-all {
    margin-top: 100px;
    position: relative
}

.lodging #main-top img {
    width: 100%;
    height: auto
}

.lodging #main31 {
    position: relative;
    top: -200px;
    width: 75vw;
    margin-left: 18vw;
    border-radius: 1vw;
    transform: skewY(-3deg);
    background: #d52f3d;
    padding: 20px
}

.lodging #main32 {
    padding-top: 6vw;
    margin-left: 40vw;
    line-height: 2;
    color: rgb(20, 17, 4);
    transform: skewY(3deg)
}

.lodging #main32 p:nth-child(1) {
    color: white
}

.lodging #main32 p:nth-child(2) {
    color: white;
    font-size: 2vw
}

.lodging #main32 span {
    font-weight: 600;
    color: white;
    line-height: 2
}

.lodging #main32 a {
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-size: 1.2em;
}

.lodging #main-img3 {
    transform: skewY(3deg);
    position: absolute;
    z-index: 99;
    top: 5vw;
    left: -8vw;
    width: 43vw
}

.lodging #main-img3 img {
    width: 100%
}

.lodging #main4 {
    width: 50%;
    margin: 0 auto 10vw
}

.lodging #main4 .img-text {
    min-height: 120px
}

.lodging .text1 {
    float: left;
    cursor: default;
    border: 0ch;
    width: 10vw
}

.lodging .text1 div:nth-child(1) {
    overflow: hidden;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw
}

.lodging .text1 div:last-child {
    padding: 2vw 3vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw
}

.lodging .text1 div:last-child b {
    border-radius: 0.5vw;
    padding: 0.5vw 1vw;
    background: #474747
}

.lodging .text1 div:last-child b:hover {
    background: #000000
}

.lodging .text1 ul {
    margin: 0vw 3vw;
    list-style-type: none;
    font-family: Tahoma, Geneva, sans-serif
}

.lodging .text1 img {
    width: 400px;
    height: 40vw
}

.lodging .text1 ul li {
    line-height: 2
}

.lodging .text1 ul li:nth-child(1) {
    font-size: 1.3vw
}

.lodging #main4>div div {
    color: white;
    width: 25vw;
    background: #d52f3d
}

.lodging #main4 img {
    width: 25vw
}

.lodging #main4 div.text1:hover {
    transition: 0.5s;
    width: 25vw
}

.lodging .number-box {
    border: #e5e5e5 solid 1px;
    display: inline-block;
    overflow: hidden
}

.lodging .number-box input[type='text'] {
    height: 30px;
    border-top: none;
    border-bottom: none;
    border-left: #e5e5e5 solid 1px;
    border-right: #e5e5e5 solid 1px;
    margin: 0;
    text-align: center;
    width: 40px;
    outline: none;
    padding: 0 5px;
    float: left;
    line-height: 30px
}

.lodging .number-box input[type='button'] {
    height: 30px;
    width: 40px;
    float: left;
    border: none;
    outline: none;
    background-color: #f3f3f3;
    line-height: 30px;
    cursor: pointer;
    padding: 0
}

.lodging .number-box input[type='button']:hover {
    background-color: #f9f9f9
}

.lodging .number-box input[type='button']:active {
    background-color: #f6f6f6
}

.lodging .numberCenter {
    position: relative;
    left: 50%;
    transform: translate(-50%)
}

.lodging #Croom {
    text-align: center;
}

.lodging #Rselect {
    text-align: center;
    margin-left: 41.5%;
}

.lodging .checkSuccess,
.Bookingbutton {
    text-transform: uppercase;
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 12px 18px;
    font-size: 1.2em;
    outline: none;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
}

.lodging .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0
}

.lodging .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.lodging .modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5)
}

.lodging .fade.in {
    transition: opacity 0.15s linear
}

.lodging .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.lodging .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.lodging .modal-header .close {
    margin-top: -2px
}

.lodging .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

.lodging button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}

.lodging .modal-title {
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    line-height: 1.42857143
}

.lodging .modal {
    padding: 10% 0
}

.lodging .form-group {
    padding: 0 20px
}

.lodging label {
    color: #e97d18;
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
    font-weight: 700
}

.lodging .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}

@media (min-width:768px) {
    .lodging .modal-dialog {
        position: relative;
        width: 750px;
        margin: 30px auto;
        transform: translate(0, 0)
    }
    .lodging .form-inline .form-group {
        margin-bottom: 30px;
        width: 45%;
        display: inline-block;
        vertical-align: middle
    }
    .lodging .form-inline .form-control {
        width: 100%;
        display: inline-block;
        vertical-align: middle
    }
    .lodging .modal-body {
        background: #f3f0f0;
        position: relative;
        padding: 15px
    }
}


/* shop.html */

.shopBody #nav {
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1vw;
    background: black;
    z-index: 999
}

.shopBody #nav p {
    margin-left: 15vw
}

.shopBody #nav1 {
    z-index: 200;
    padding: 0.5vw;
    position: fixed;
    width: 100%;
    top: 3.3vw;
    text-align: center;
    color: white;
    font-size: 2.8vw;
    font-family: Tahoma, Geneva, sans-serif
}

.shopBody #nav1 a p {
    color: #000000;
    font-size: 1.2vw
}

.shopBody #nav1 a {
    text-decoration: none
}

.shopBody #nav1 ul,
.shopBody #nav1 ul li {
    display: inline-block
}

.shopBody #nav1 ul img {
    width: 100px;
    vertical-align: center
}

.shopBody #nav1 ul li a p:hover {
    color: #0074ad;
    cursor: pointer
}

.shopBody #nav1 ul:nth-child(1) {
    margin-right: 5vw;
    border-left: white solid 0.1vw
}

.shopBody #nav1 ul:nth-child(1) li {
    margin-left: 2vw
}

.shopBody #nav1 ul:nth-child(2) li {
    padding: 0 1.5vw;
    border-right: white solid 0.1vw
}

.shopBody #nav1 ul:nth-child(2) {
    float: right;
    margin-right: 10vw
}

.shopBody #nav2 {
    position: relative;
    justify-content: space-around;
    top: 13vw;
    text-align: center
}

.shopBody #nav-center {
    font-family: 'tw cen mt condensed';
    font-size: 4.5vw
}

.shopBody #nav2:hover {
    color: orangered;
    cursor: pointer
}

.shopBody #main {
    width: 80vw;
    margin: 10vw;
    position: absolute;
    top: 15%;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 16%
}

.shopBody #main img {
    text-align: flex;
    margin: 2vw 2vw;
    width: 17vw
}

.shopBody #main img:hover {
    cursor: default;
    transform: translateY(-1vw);
    box-shadow: grey 0vw 0.2vw 0.3vw;
    transition: 0.5s
}

.shopBody #main p {
    cursor: default;
    font-size: 1.2em
}

.shopBody #main1 {
    width: 80vw;
    margin: 10vw;
    position: absolute;
    top: 70%;
    margin-top: 20vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 16%
}

.shopBody #main1 img {
    text-align: flex;
    margin: 2vw 2vw;
    width: 17vw
}

.shopBody #main1 img:hover {
    cursor: default;
    transform: translateY(-1vw);
    box-shadow: grey 0vw 0.2vw 0.3vw;
    transition: 0.5s
}

.shopBody #main1 p {
    cursor: default;
    font-size: 1.2em
}

.shopBody #footer {
    padding: 4vw 0;
    background: #353535;
    display: flex;
    font-size: 1vw;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #d5d5d5;
    justify-content: space-around;
    position: absolute;
    top: 155%;
    width: 100%
}

.shopBody #footer ul li {
    margin-left: 2vw;
    padding: 0.5vw 0;
    list-style-type: none
}

.shopBody #footer a {
    color: lightgray;
    text-decoration: none
}

.shopBody #footer ul li:hover {
    color: white;
    cursor: default
}

.shopBody #footer ul li a:hover {
    color: white;
    cursor: pointer
}

.shopBody #footer1 img {
    margin-left: 2vw;
    width: 12vw
}

.shopBody #footer4 p {
    font-size: 1.5vw;
    margin-bottom: 3vw
}

.shopBody #text {
    float: left;
    vertical-align: top;
    border-radius: 0.2vw;
    outline: none;
    height: 2.9vw;
    width: 15vw;
    border: 1px lightgray solid
}

.shopBody #button {
    border-radius: 0.2vw;
    border: none;
    width: 5vw;
    float: left;
    height: 3vw
}

.shopBody #footer4 a {
    padding: 0.5vw 2vw
}

.shopBody #aside {
    left: -50vw;
    text-align: center;
    position: absolute;
    z-index: 999;
    top: 0;
    width: 50vw;
    background: white
}

.shopBody #aside1 {
    padding: 0.5vw 1vw;
    margin-left: 14vw;
    width: 20vw;
    border: gray solid 0.1vw;
    position: absolute;
    top: 5.5vw;
    margin-top: 1vw
}

.shopBody table {
    width: 50vw;
    margin-top: 10vw;
    justify-content: space-around
}

.shopBody #aside3 {
    padding-bottom: 0.5vw
}

.shopBody #aside3 div {
    color: #5e5e5e;
    cursor: pointer;
    width: 46%;
    display: inline-block
}

.shopBody #aside3 img {
    border-radius: 0.3vw;
    margin: 2vw 0;
    width: 20vw;
    height: 15vw
}

.shopBody #aside3 img:hover {
    transform: scale(1.02)
}

.shopBody #aside4 {
    cursor: pointer;
    text-align: right;
    padding-right: 5vw;
    position: absolute;
    top: 3.6vw;
    font-size: 1.3em;
    margin-left: 1em
}


/* contact.html */

.contact #nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1vw;
    background: #ffaf18;
    z-index: 999
}

.contact #nav p {
    margin-left: 15vw
}

.contact #nav1 {
    z-index: 999;
    padding: 0.5vw;
    position: fixed;
    width: 100%;
    top: 3.2vw;
    color: white;
    font-size: 2.8vw;
    font-family: Tahoma, Geneva, sans-serif
}

.contact #nav1 a {
    color: white;
    text-decoration: none
}

.contact #nav1 a p {
    font-size: 1.2vw
}

.contact #nav1 ul,
.contact #nav1 ul li {
    font-size: 2vw;
    display: inline-block
}

.contact #nav1 ul img {
    width: 100px;
    vertical-align: center
}

.contact #nav1 ul li a:hover {
    color: #004464;
    cursor: pointer
}

.contact #nav1 ul:nth-child(1) {
    border-left: white solid 0.1vw;
    margin-left: 17vw
}

.contact #nav1 ul:nth-child(1) li {
    margin-left: 2vw
}

.contact #nav1 ul:nth-child(2) li {
    padding: 0 1.5vw;
    border-right: white solid 0.1vw
}

.contact #nav1 ul:nth-child(2) {
    float: right;
    margin-right: 10vw
}

.contact #main {
    transform: skewY(3deg);
    width: 100%;
    background: black;
    height: 38vw;
    padding: 5vw 0
}

.contact #main div {
    margin-top: 12vw;
    color: white;
    font-size: 4vw;
    margin-bottom: 3vw;
    transform: skewY(-3deg);
    text-align: center;
    cursor: default
}

.contact #main p {
    cursor: default;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    transform: skewY(-3deg);
    margin-top: 0.5vw
}

.contact #footer {
    width: 100%;
    margin-top: -0.5vw;
    padding: 5vw 0;
    background: #353535;
    display: flex;
    font-size: 1vw;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #d5d5d5;
    justify-content: space-around
}

.contact #footer ul li {
    margin-left: 2vw;
    padding: 0.5vw 0;
    list-style-type: none
}

.contact #footer a {
    color: lightgray;
    text-decoration: none
}

.contact #footer ul li:hover {
    color: white;
    cursor: default
}

.contact #footer ul li a:hover {
    color: white;
    cursor: pointer
}

.contact #footer1 img {
    margin-left: 2vw;
    width: 12vw
}

.contact #footer4 p {
    font-size: 1.5vw;
    margin-bottom: 3vw
}

.contact #text {
    float: left;
    vertical-align: top;
    border-radius: 0.2vw;
    outline: none;
    height: 2.9vw;
    width: 15vw;
    border: 1px lightgray solid
}

.contact #button {
    border-radius: 0.2vw;
    border: none;
    width: 5vw;
    float: left;
    height: 3vw
}

.contact #footer4 a {
    padding: 0.5vw 2vw
}

.contact #iframe2 {
    margin-top: 5vw;
    width: 100%;
    height: 30vw
}

.contact fieldset {
    padding: 1em 2em;
    border: 0;
    border-radius: 10px;
    background: white;
    display: block
}

.contact #contact-form {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    width: 100%;
    margin-bottom: 300px;
    padding-top: 10vw
}

.contact #contact-form h2 {
    font-size: 2vw
}

.contact #contact-form #img11 {
    width: 30%;
    margin-left: 10%;
    background: url(../image/pexels-element-digital-1550337.jpg) no-repeat;
    background-size: cover;
    background-position: center
}

.contact legend {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.5em 1em;
    margin: 0 -1em;
    border-radius: 10px;
    background: black;
    color: white;
    background: linear-gradient(141deg, #ecb56d 0%, #b14904 51%, #2cb5e8 75%)
}

.contact fieldset .form-item {
    display: flex;
    margin-bottom: 1em;
    align-items: center
}

.contact fieldset .form-item>label {
    font-weight: bold;
    width: 25%;
    padding-right: 2em;
    text-align: right;
    text-shadow: rgba(0, 0, 0, 0.3) 3px 3px 5px
}

.contact fieldset .form-item .form-element {
    width: 75%
}

.contact fieldset .form-item .form-element>label {
    display: block
}

.contact input[type='text'],
.contact textarea {
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 5px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    font-size: 0.9em
}

.contact input[type='text']:focus {
    border-color: #2cb5e8
}

.contact input[type='radio'],
.contact input[type='checkbox'] {
    margin-right: 2em
}

.contact select {
    font-size: 1em
}

.contact button {
    font-weight: bold;
    font-size: 1.3em;
    background: black;
    padding: 0.5em 1em;
    color: white;
    border: 0;
    border-radius: 10px;
    background: linear-gradient(-90deg, rgb(30, 127, 218), rgb(155, 224, 235));
    cursor: pointer;
    float: right
}

@media (max-width:950px) {
    #nav {
        display: none
    }
    #nav1 {
        top: 0 !important
    }
}